@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .icon-xs {
    height: 0.875rem !important;
    width: 0.875rem !important;
  }

  .icon-sm {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }

  .icon-md {
    height: 2.75rem !important;
    width: 2.75rem!important;
  }

  .icon-lg {
    width: 9.25rem !important;
    height: 2.75rem !important;
  }

  .icon-group {
    width: 6rem !important;
    height: 1.25rem !important;
  }
}
