<script setup lang="ts">
import { button, type ButtonProps } from "./styles";
withDefaults(
  defineProps<{
    intent?: ButtonProps["intent"],
    size?: ButtonProps["size"],
  }>(),
  {
    intent: "primary",
    size: "sm",
  },
);
</script>

<template>
  <button :class="button({ intent, size })">
    <slot />
  </button>
</template>
