<template>
  <div class="w-[20.43rem] h-[14.5rem] sm:w-[40rem] sm:h-[22.5rem] relative">
    <NuxtImg :src="backgroundSource" class="w-full h-full absolute" />
    <div class="px-4 pt-4 sm:px-6 sm:pt-6 flex flex-col h-full w-full relative z-1">
      <div class="[&>p]:text-white w-60 h-[4.375rem] sm:w-[17.75rem] sm:h-40">
        <p class="sm:text-3xl font-semibold tracking-tighter">{{ title }}</p>
        <p class="text-xs sm:text-base font-medium">{{ content }}</p>
      </div>
      <div class="hidden sm:block">
        <Button :intent="intent" size="md">Rental Car</Button>
      </div>
      <div class="sm:hidden">
        <Button :intent="intent" size="xs">Rental Car</Button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const { title, content, backgroundSource } = defineProps<{
  title: string,
  content: string,
  backgroundSource: string,
  intent: "primary" | "secondary",
}>();
</script>
