<template>
  <div class="flex flex-col bg-brand-background font-plus-jakarta-sans items-center">
    <Header class="w-full flex justify-between items-center h-[7.75rem] z-10 fixed bg-white" />
    <div
      class="sm:hidden mt-[9.75rem] sm:pt-0 flex bg-white h-11 w-[20.43rem] items-center border rounded px-1 border-brand-beau-blue">
      <Search class="icon-sm" :filled="true" />
      <Input intent="primary" size="sm" type="email" :model-value="carName" class="w-full sm:w-[60rem] font-light"
        placeholder="Search something here" @update:model-value="handleTextInputUpdate" />
    </div>
    <div class="justify-center px-5">
      <div class="pt-7 sm:pt-[9.75rem] grid xl:grid-cols-2 justify-center gap-8">
        <AdCard class="flex-shrink-0" title="The Best Platform for Car Rental"
          content="Ease of doing a car rental safely and reliably. Of course at a low price." intent="primary"
          backgroundSource="/bg-1.png" />
        <AdCard class="hidden sm:block flex-shrink-0" title="Easy way to rent a car at a low price"
          content="Providing cheap car rental services and safe and comfortable facilities." intent="secondary"
          backgroundSource="/bg-2.png" />
      </div>

    </div>
    <div v-if="popularCarsArray?.length"
      class="flex flex-col w-full sm:w-fit overflow-x-scroll no-scrollbar justify-center px-5">
      <div class="p-5 w-full flex justify-between select-none">
        <p class="font-semibold text-brand-secondary-300">Popular Car</p>
        <button class="font-semibold text-brand-primary-500">View All</button>
      </div>
      <div class="flex sm:grid sm:grid-cols-2 xl:grid-cols-4 gap-8 overflow-x-scroll no-scrollbar">
        <CardVertical v-for="car in popularCarsArray" :key="car.id" :id=car.id :name=car.name :type=car.type
          :gasolineLiter=car.gasolineLiter :kindOfTransition=car.kindOfTransition :people=car.people
          :pricePerDay=car.pricePerDay :img=car.img />
      </div>
    </div>
    <div v-if="recommendedCarsArray?.length" class="flex flex-col justify-center px-5">
      <p class="font-semibold p-5 select-none text-brand-secondary-300">Recommendation Car</p>
      <div class="hidden sm:grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
        <CardVertical v-for="car in recommendedCarsArray" :key="car.id" :id=car.id :name=car.name :type=car.type
          :gasolineLiter=car.gasolineLiter :kindOfTransition=car.kindOfTransition :people=car.people
          :pricePerDay=car.pricePerDay :img=car.img />
      </div>
      <div class="sm:hidden grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
        <Card v-for="car in recommendedCarsArray" :key="car.id" :id=car.id :name=car.name :type=car.type
          :gasolineLiter=car.gasolineLiter :kindOfTransition=car.kindOfTransition :people=car.people
          :pricePerDay=car.pricePerDay :img=car.img />
      </div>
    </div>
    <div class="flex w-full justify-center py-14">
      <Button class="bg-gray-300 cursor-not-allowed" disabled size="lg">Show more car</Button>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import { type Car, type CarsResponse } from "@/types";
import Search from "@/assets/icons/search.svg";

const carName = shallowRef("");
const handleTextInputUpdate = (value: string) => {
  carName.value = value;
};

const popularCarsArray = ref<Car[] | null>([]);
const recommendedCarsArray = ref<Car[] | undefined>([]);

const { data: popularCars, status: popularCarsStatus } = await useFetch<Car[]>('/api/cars/popular-cars');
if (popularCarsStatus.value === "success") {
  popularCarsArray.value = popularCars.value;
}

const recommendedCarsStatus = ref("success");
const recommendedCars = ref(
  {
  "data":[
    {
      "name":"Toyota Camry",
      "type":"Sedan",
      "gasolineLiter":60,
      "kindOfTransition":"Automatic",
      "people":5,
      "pricePerDay":50,
      "id":"toyota-camry",
      "img":"https://i.imgur.com/gQyBItF.png"
    },
    {
      "name":"BMW 3 Series",
      "type":"Sedan",
      "gasolineLiter":75,
      "kindOfTransition":"Manual",
      "people":5,
      "pricePerDay":80,
      "id":"bmw-3-series",
      "img":"https://i.imgur.com/Gqoz66T.png"
    },
    {
      "name":"Mercedes-Benz C-Class",
      "type":"Sedan",
      "gasolineLiter":80,
      "kindOfTransition":"Automatic",
      "people":5,
      "pricePerDay":90,
      "id":"mercedes-benz-c-class",
      "img":"https://i.imgur.com/4LzwfQd.png"
    },
    {
      "name":"Tesla Model 3",
      "type":"Sedan",
      "gasolineLiter":0,
      "kindOfTransition":"Electric",
      "people":5,
      "pricePerDay":100,
      "id":"tesla-model-3",
      "img":"https://i.imgur.com/9nVToHU.png"
    },
    {
      "name":"Ford Mustang",
      "type":"Sports car",
      "gasolineLiter":65,
      "kindOfTransition":"Manual",
      "people":4,
      "pricePerDay":120,
      "id":"ford-mustang",
      "img":"https://i.imgur.com/gQyBItF.png"
    },
    {
      "name":"Porsche 911",
      "type":"Sports car",
      "gasolineLiter":75,
      "kindOfTransition":"Automatic",
      "people":4,
      "pricePerDay":150,
      "id":"porsche-911",
      "img":"https://i.imgur.com/4LzwfQd.png"
    },
    {
      "name":"Subaru Outback",
      "type":"SUV",
      "gasolineLiter":70,
      "kindOfTransition":"Automatic",
      "people":5,
      "pricePerDay":85,
      "id":"subaru-outback",
      "img":"https://i.imgur.com/v9FuFLU.png"
    },
    {
      "name":"Toyota Land Cruiser",
      "type":"SUV",
      "gasolineLiter":85,
      "kindOfTransition":"Automatic",
      "people":7,
      "pricePerDay":120,
      "id":"toyota-land-cruiser",
      "img":"https://i.imgur.com/Gqoz66T.png"
    }
  ],
  "meta":{
    "total":35,
    "last_page":5
  }
});

if (recommendedCarsStatus.value === "success") {
  recommendedCarsArray.value = recommendedCars.value?.data;
}
</script>

<style>
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
</style>
