<script setup lang="ts">
defineEmits(["update:modelValue"])
import { input, type InputProps } from "./styles";
withDefaults(
  defineProps<{
    intent?: InputProps["intent"],
    size?: InputProps["size"],
    modelValue: string,
    placeholder: string,
    type?: string
  }>(),
  {
    intent: "primary",
    size: "sm",
    type: "text",
  },
);
</script>

<template>
  <input :type="type" :value="modelValue" :class="input({ intent, size })" :placeholder="placeholder"
    @input="(event: any) => $emit('update:modelValue', event.target.value)" />
</template>

<style>
</style>
