<template>
  <div class="flex gap-3">
    <div class="relative w-24 h-16 sm:w-[9.75rem] sm:h-[7.75rem]">
      <NuxtImg src="/bg-rectangle.png" class="w-full h-full absolute" />
      <div class="absolute inset-0 flex items-center justify-center">
        <!-- Centered image -->
        <NuxtImg :src="img" class="w-[7.25rem] z-10" />
      </div>
    </div>
    <NuxtImg :src="images[0]?.url" class="w-24 h-16 sm:w-[9.75rem] sm:h-[7.75rem] rounded" />
    <NuxtImg :src="images[1]?.url" class="w-24 h-16 sm:w-[9.75rem] sm:h-[7.75rem] rounded" />
  </div>
</template>

<script setup lang="ts">
const { images } = defineProps<{
  img: string,
  images: {
    url: string,
  }[],
}>();
</script>
