<template>
  <div
    class="bg-white flex flex-col gap-[3.75rem] sm:gap-0 justify-between w-full h-[43.25rem] sm:h-[30rem] px-6 sm:px-[3.75rem] pt-4 sm:pt-20">
    <div class="flex flex-col gap-[3.75rem] sm:flex-row justify-between">
      <div class="flex flex-col gap-4 w-[18.25rem]">
        <LogoFooter class="icon-lg -translate-x-7" :filled="true" />
        <p class="text-xs sm:text-base font-medium tracking-tight text-brand-dark-gray">Our vision is to provide
          convenience and help increase
          your sales business.
        </p>
      </div>
      <div class="flex sm:flex-row flex-col gap-[3.75rem]">
        <div class="flex gap-[3.75rem]">
          <div class="flex flex-col gap-6">
            <p class="text-xl font-semibold">About</p>
            <div class="flex flex-col gap-4 [&>a]:text-brand-dark-gray [&>a]:cursor-pointer">
              <nuxt-link>How it works</nuxt-link>
              <nuxt-link>Featured</nuxt-link>
              <nuxt-link>Partnership</nuxt-link>
              <nuxt-link>Business Relation</nuxt-link>
            </div>
          </div>
          <div class="flex flex-col gap-6">
            <p class="text-xl font-semibold">Community</p>
            <div class="flex flex-col gap-4 [&>a]:text-brand-dark-gray [&>a]:cursor-pointer">
              <nuxt-link>Events</nuxt-link>
              <nuxt-link>Blog</nuxt-link>
              <nuxt-link>Podcast</nuxt-link>
              <nuxt-link>Invite a friend</nuxt-link>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-6">
          <p class="text-xl font-semibold">Socials</p>
          <div class="flex flex-col gap-4 [&>a]:text-brand-dark-gray [&>a]:cursor-pointer">
            <nuxt-link>Discord</nuxt-link>
            <nuxt-link>Instagram</nuxt-link>
            <nuxt-link>Twitter</nuxt-link>
            <nuxt-link>Facebook</nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <div class="h-28 w-full">
      <hr class="w-full hidden sm:block h-[0.0625rem] rounded-full bg-brand-dark-gray">
      <div class="flex flex-col-reverse gap-8 sm:gap-0 sm:flex-row h-full items-center justify-between [&>p]:text-center">
        <div class="self-start sm:self-center">
          <p class="text-brand-secondary-500 pb-4 text-sm sm:text-base sm:py-0 self-start tracking-tight font-semibold">
            ©2022 DM. All rights
            reserved</p>
        </div>
        <div
          class="flex justify-between w-full sm:w-[21.75rem] [&>p]:text-brand-secondary-500 [&>p]:text-sm sm:[&>p]:text-base [&>p]:font-semibold gap-[3.75rem]">
          <p>Privacy & Policy</p>
          <p>Terms & Condition</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import LogoFooter from "@/assets/icons/logo-footer.svg";
</script>
