<template>
  <div class="flex flex-col justify-between h-[17.875rem] w-60 sm:w-76 sm:h-97 rounded-lg bg-white p-4 sm:p-6">
    <div class="flex justify-between">
      <div class="inline-flex flex-col gap-1">
        <p class="text-base sm:text-xl tracking-tight font-bold">{{ props.name }}</p>
        <p class="text-xs sm:text-sm tracking-tight text-brand-secondary-300 font-bold">{{ props.type }}</p>
      </div>
      <div @click="toggleFavorite" class="pt-1">
        <FullLike v-if="isFavorite" class="icon" :filled="true" />
        <EmptyLike v-else class="icon" :filled="true" />
      </div>
    </div>
    <img :src=img>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between [&>p]:truncate">
        <div class="flex items-center gap-1">
          <Gasoline class="icon-xs sm:icon" :filled="true" />
          <p class="text-xs sm:text-sm font-medium text-brand-secondary-300">{{ props.gasolineLiter }}L</p>
        </div>
        <div class="flex items-center gap-1">
          <CarType class="icon-xs sm:icon" :filled="true" />
          <p class="text-xs sm:text-sm font-medium text-brand-secondary-300">{{ props.type }}</p>
        </div>
        <div class="flex items-center gap-1">
          <People class="icon-xs sm:icon" :filled="true" />
          <p class="text-xs sm:text-sm font-medium text-brand-secondary-300">{{ props.people }} People</p>
        </div>
      </div>
      <div class="flex items-center gap-1 sm:gap-0 justify-between">
        <p class="sm:text-xl font-bold">${{ props.pricePerDay.toFixed(2) }}/<span
            class="text-xs sm:text-sm font-bold text-brand-secondary-300">day</span></p>
        <a :href="`/cars/${props.id}`">
          <Button class="hidden sm:block" size="sm">Rent Now</Button>
          <Button class="sm:hidden" size="xxs">Rent Now</Button>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<Car>();
import { type Car } from "@/types";
import EmptyLike from '@/assets/icons/empty-like.svg';
import FullLike from '@/assets/icons/full-like.svg';
import Gasoline from '@/assets/icons/gasoline.svg';
import CarType from '@/assets/icons/car-type.svg';
import People from '@/assets/icons/people.svg';
import { useFavoriteCarsStore } from "@/store/favoriteCar";

const store = useFavoriteCarsStore();
const isFavorite = shallowRef(store.isFavoriteCar(props.id));
const toggleFavorite = () => {
  isFavorite.value = !isFavorite.value;
};

</script>

<style>
.icon {
  height: 1.5rem;
  width: 1.5rem;
}
</style>
