<template>
  <div v-if="pending">Loading</div>
  <div v-else-if="carStatus === 'error'">Failed to load car details.</div>
  <div v-if="carDetails" class="flex flex-col bg-brand-background font-plus-jakarta-sans items-center">
    <Header class="w-full flex justify-between items-center h-[7.75rem] z-10 fixed bg-white" />
    <div class="mt-[9.75rem] mx-auto flex flex-col items-center xl:flex-row gap-8">
      <div class="flex flex-col items-center gap-6">
        <HeroBanner :img="carDetails?.img" />
        <div>
          <CarGallery :img="carDetails?.img" :images="carDetails?.images" />
        </div>
      </div>
      <DetailsCard :id="carDetails?.id" :name=carDetails?.name :description="carDetails?.description"
        :images="carDetails?.images" :type=carDetails?.type :gasolineLiter=carDetails?.gasolineLiter
        :kindOfTransition=carDetails?.kindOfTransition :people=carDetails?.people :pricePerDay=carDetails?.pricePerDay
        :img=carDetails?.img />
    </div>
    <div v-if="popularCarsArray?.length" class="flex flex-col pt-2 justify-center pb-14 px-5">
      <p class="font-semibold p-5 select-none text-brand-secondary-300">Recommendation Car</p>
      <div class="hidden sm:grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
        <CardVertical v-for="car in popularCarsArray" :key="car.id" :id=car.id :name=car.name :type=car.type
          :gasolineLiter=car.gasolineLiter :kindOfTransition=car.kindOfTransition :people=car.people
          :pricePerDay=car.pricePerDay :img=car.img />
      </div>
      <div class="sm:hidden grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
        <Card v-for="car in popularCarsArray" :key="car.id" :id=car.id :name=car.name :type=car.type
          :gasolineLiter=car.gasolineLiter :kindOfTransition=car.kindOfTransition :people=car.people
          :pricePerDay=car.pricePerDay :img=car.img />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import { type CarDetails, type Car } from "@/types";

const { id } = useRoute().params;


const carDetails = ref<CarDetails | null>(null);

const { pending, error, data: car, status: carStatus } = await useFetch<CarDetails>(`/api/cars/${id}`);
if (carStatus.value === "success" && car.value) {
  carDetails.value = car.value;
}

const popularCarsArray = ref<Car[] | null>([]);
  const { data: popularCars, status: popularCarsStatus } = await useFetch<Car[]>('/api/cars/popular-cars');
if (popularCarsStatus.value === "success") {
  popularCarsArray.value = popularCars.value;
}
</script>
