<template>
  <div
    class="w-[20.43rem] h-[14.5rem] sm:w-[30.75rem] sm:h-[22.5rem] xl:w-[49.25rem] xl:h-[31.75rem] p-3 sm:p-6 bg-white flex flex-col justify-between gap-4">
    <div class="flex flex-col gap-2 sm:gap-6">
      <div class="flex gap-2 sm:gap-5">
        <div class="inline-flex flex-col gap-1">
          <p class="text-lg sm:text-xl tracking-tight font-bold">{{ props.name }}</p>
          <div class="flex gap-2 items-center">
            <ReviewStar class="icon-group" :filled="true" />
            <p class="text-xs sm:text-sm font-medium text-brand-secondary-300">440+ Review</p>
          </div>
        </div>
        <div @click="toggleFavorite" class="pt-1 self-center sm:self-start">
          <FullLike v-if="isFavorite" class="icon" :filled="true" />
          <EmptyLike v-else class="icon" :filled="true" />
        </div>
      </div>
      <p class="text-xs sm:text-lg xl:text-xl text-brand-secondary-400 line-clamp-3 sm:line-clamp-4 xl:line-clamp-5">{{
        props.description
      }}</p>
      <div class="hidden sm:flex flex-col gap-2">
        <div class="flex gap-11">
          <div class="flex gap-2 xl:gap-4">
            <p class="text-sm xl:text-xl text-brand-secondary-300">TypeCar</p>
            <p class="text-sm xl:text-xl text-brand-secondary-400">{{ props.type }}</p>
          </div>
          <div class="flex gap-2 xl:gap-4">
            <p class="text-sm xl:text-xl text-brand-secondary-300">Capacity</p>
            <p class="text-sm xl:text-xl text-brand-secondary-400">{{ props.people }}Person</p>
          </div>
          <div class="flex gap-2 xl:gap-4">
            <p class="text-sm xl:text-xl text-brand-secondary-300">Gasoline</p>
            <p class="text-sm xl:text-xl text-brand-secondary-400">{{ props.gasolineLiter }}L</p>
          </div>
        </div>
        <div class="flex gap-2 xl:gap-4">
          <p class="text-sm xl:text-xl text-brand-secondary-300">Steering</p>
          <p class="text-sm xl:text-xl text-brand-secondary-400">{{ props.kindOfTransition }}</p>
        </div>
      </div>
      <div class="flex sm:hidden justify-between">
        <div class="flex flex-col">
          <div class="flex gap-2 xl:gap-4">
            <p class="text-xs xl:text-xl text-brand-secondary-300">TypeCar</p>
            <p class="text-xs xl:text-xl text-brand-secondary-400">{{ props.type }}</p>
          </div>
          <div class="flex gap-2 xl:gap-4">
            <p class="text-xs xl:text-xl text-brand-secondary-300">Steering</p>
            <p class="text-xs xl:text-xl text-brand-secondary-400">{{ props.kindOfTransition }}</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex gap-2 xl:gap-4">
            <p class="text-xs xl:text-xl text-brand-secondary-300">Capacity</p>
            <p class="text-xs xl:text-xl text-brand-secondary-400">{{ props.people }}Person</p>
          </div>
          <div class="flex gap-2 xl:gap-4">
            <p class="text-xs xl:text-xl text-brand-secondary-300">Gasoline</p>
            <p class="text-xs xl:text-xl text-brand-secondary-400">{{ props.gasolineLiter }}L</p>
          </div>
        </div>

      </div>
    </div>
    <div class="flex items-center justify-between">
      <p class="text-base sm:text-xl font-bold">${{ props.pricePerDay.toFixed(2) }}/<span
          class="text-xs sm:text-sm font-bold text-brand-secondary-300">day</span></p>
      <a :href="`/cars/${props.id}`">
        <Button size="sm">Rent Now</Button>
      </a>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<CarDetails>();
import { type CarDetails } from "@/types";
import EmptyLike from '@/assets/icons/empty-like.svg';
import FullLike from '@/assets/icons/full-like.svg';
import ReviewStar from '@/assets/icons/review-star.svg';
import { useFavoriteCarsStore } from "@/store/favoriteCar";

const store = useFavoriteCarsStore();
const isFavorite = shallowRef(store.isFavoriteCar(props.id));
const toggleFavorite = () => {
  isFavorite.value = !isFavorite.value;
};
</script>
