<template>
  <div class="flex justify-between z-50 px-6 sm:px-[3.75rem]">
    <a href="/">
      <Logo class="icon-lg" :filled="true" />
    </a>
    <div
      class="hidden sm:flex w-[25rem] md:w-[40rem] lg:w-[55rem] xl:w-[64.5rem] h-11 items-center border rounded-[4.375rem] px-5 border-brand-beau-blue">
      <Search class="icon-sm" :filled="true" />
      <Input intent="primary" size="sm" type="email" :model-value="carName" class="w-[60rem] font-light"
        placeholder="Search something here" @update:model-value="handleTextInputUpdate" />
    </div>
    <LikeCircle class="icon-md" :filled="true" />
  </div>
</template>

<script setup lang="ts">
import LikeCircle from "@/assets/icons/like-circle.svg";
import Logo from "@/assets/icons/logo.svg";
import Search from "@/assets/icons/search.svg";

const carName = shallowRef("");
const handleTextInputUpdate = (value: string) => {
  carName.value = value;
};
</script>
