<template>
  <div class="w-[20.43rem] h-[14.5rem] sm:w-[30.75rem] sm:h-[22.5rem] relative">
    <NuxtImg src="/bg-rectangle.png" class="w-full h-full absolute" />
    <div class="px-4 pt-4 sm:p-6 overflow-hidden flex flex-col justify-between h-full w-full relative z-1">
      <div class="[&>p]:text-white w-60 h-[6rem] sm:w-[23.25rem] sm:h-40">
        <p class="sm:text-3xl font-semibold tracking-tighter">Sports car with the best design and acceleration</p>
        <p class="text-xs sm:text-base font-medium">Safety and comfort while driving a
          futuristic and elegant sports car</p>
      </div>
      <img class="w-[23.75rem] self-center" :src=img>
    </div>
  </div>
</template>

<script setup lang="ts">
const { img } = defineProps<{
  img: string,
}>();
</script>
